.container1
{
    display: flex;

}
.rec1
{
 width: 300px;
 height: 100px;
 background-color: rgb(250, 152, 152);
 border-radius: 15px;
 border: 4px double rgb(23, 5, 90);
 border-style: dotted;
 margin: 0 auto 0 0;
 text-align: center;
}
.rec2
{
 width: 300px;
 height: 100px;
 background-color: green;
 border-radius: 30px 70px 40px 20px;
 margin: 0 auto;
 text-align: center;
}
.rec3
{
    width: 300px;
 height: 100px;
 background: blue;
 border-radius: 50px 15px;
 margin: 0 0 0 auto;
 text-align: center;
}